# Proprietary fonts are not to be shared. Sorry.
Dakota.ttf
otf-ziamimi/*
ttf-exljbris-fontin/*
otf-exljbris-tallys/*
otf-exljbris-fontin_sans/*
otf-exljbris-diavlo/*
otf-exljbris-delicious/*
otf-fff-kelson/*
otf-fff-bebas/*
otf-bosun/*
